/* mentorHome.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.mentor1-container {
  display: flex;
  background-color: #9cbbe5;
  align-items: center;
}

.image-container {
  width: 1000px; /* Adjust the width as desired */
  margin-right: 30px; /* Add some spacing between the image and text */
}

.mentor-image {
  width: 100%;
  height: auto;
}

.content {
  color: #333;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.title {
  color: #2d2d5e;
  font-size: 28px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

.description {
  color: #dc5491;
  line-height: 1.5;
  
  font-family: 'Roboto', sans-serif;
}

.cta {
  margin-top: 20px;
}

.subtitle {
  color: #4872aa;
  font-size: 18px;
  margin-bottom: 10px;
  
  font-family: 'Roboto', sans-serif;
}

.apply-button {
  background-color: #1352a5;
  color: #fff;
  padding: 14px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: large;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3)
}

.apply-button:hover {
  background-color: #74a2de;
}
