.mentor-container {
    background-color: #1a2742; /* Dark blue color */
    padding: 4rem;
    height: 400px;
    text-align: center;
    color: #fff; /* White text color */
  }
  
  .mentor-container h2 {
    font-size: 1.875rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
  }
  
  .mentor-container p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  
  .mentor-stats {
    display: flex;
    justify-content: space-between;
  }
  
  .mentor-stats div {
    flex: 1;
  }
  
  .mentor-stats dt {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .mentor-stats dd {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0;
  }
  