/* :root{
    --black:red;
} in case we want to change colour*/
.h-wrapper{
  background: var(--black);
  color:white;
  box-shadow: 0px 10px 20px rgba(247, 246, 246, 0.4);
}
.h-container{
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--secondary);
}

.h-menu{
  gap: 2rem;
}

.h-menu>*:hover{
  cursor: pointer;
}
@media (max-width:768px){ 
      .menu-icon{
          display:block;
      }
  
};