.value-container {
    display: flex;
    align-items: flex-start;
  }
  
  .value-left {
    width: 50%;
    flex-shrink: 0;
  }
  
  .value-right {
    width: 50%;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .value-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  /* Rest of the CSS code remains the same */
  
  .value-container {
    border: 8px solid rgb(232 232 232 / 93%);
  }
  
  .value-container > div {
    flex: 1;
  }
  
  .value-right {
    gap: 0.5rem;
  }
  
  .value-accordion {
    margin-top: 2rem;
    border: none;
  }
  
  .value-accordionItem {
    background: white;
    border: 0.8px solid rgba(128, 128, 128, 0.143);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .value-accordionItem.expanded {
    box-shadow: var(--shadow);
    border-radius: 6px;
  }
  
  .value-accordionButton {
    background: white;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .icon {
    padding: 10px;
    background: #eeeeff;
    border-radius: 5px;
  }
  
  .icon svg {
    fill: var(--blue);
  }
  
  .value-accordionButton .primaryText {
    font-size: 1.1rem;
  }
  