.hero-wrapper{
    color:white;
    position:relative;
    padding-bottom:2rem;
    background-color:var(--black);
}
.hero-container{
    justify-content:space-between;
    /* align-items:flex-start; */

}
/*Left Side*/
.hero-left{
    gap:3rem;
}
.hero-title>h1{
    font-weight:600;
    font-size:3.8rem;
    line-height:4rem;
}

.search-bar{
    background-color: white;
    border-radius:5px;
    border:3px solid rgba(120,120,120,0,374);
    padding: 0.5rem 1rem;
    justify-content: space-between;
}

.search-bar>input{
    border:none;
    outline:none;
}
/*right side*/

.image-container{
    width:30rem;
    height:35rem;
    overflow:hidden;
    border-radius:15rem 15rem 0 0;
    border: 8px solid rgba(255,255,255,0.12);
    
}

.image-container>img{
    width:100%;
    height:100%;
}