
.hero-wrapper{
  background-color: #1a2742;
}
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
  }
  
  .hero-left {
    width: 50%;
  }
  
  .hero-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  
  /* Style the hero title and description */
  .hero-title h1 {
    color: whitesmoke;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
  }
  
  .hero-des span {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
    text-align: left;
  }
  
  /* Adjust the positioning of the image */
  .image-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 200px;
  
  }
  
  .image-container img {
    max-width: 100%;
    width: 35rem;
    height:25rem;
    border-radius: 5px;
  }
  