
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f9c4c2;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: auto;
    height: 40px;
    margin-right: 10px;
  }
  
  .company-name {
    font-weight: bold;
    font-size: 20px;
    color: #f48d89;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-button {
    padding: 10px 20px;
    background-color: #f9e8e6;
    color: #f48d89;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .navbar-button:hover {
    background-color: #f48d89;
    color: #fff;
  }
  
  .login-signup-button {
    padding: 10px 20px;
    background-color: #f48d89;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-signup-button:hover {
    background-color: #e7736f;
  }
  